[submodule "wiredtiger"]
	path = crates/wiredtiger/libwiredtiger/wiredtiger
	url = https://github.com/wiredtiger/wiredtiger
[submodule "crates/wiredtiger/libwiredtiger/wiredtiger"]
	path = crates/wiredtiger/wiredtiger-sys/wiredtiger
	url = https://github.com/wiredtiger/wiredtiger
